---
BasedOnStyle: Microsoft
IndentWidth: 4
---
Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left

AccessModifierOffset: -4
ColumnLimit: 120

AlwaysBreakTemplateDeclarations: Yes
BreakAfterAttributes: Always
BreakConstructorInitializers: BeforeComma
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator
